[Unit]
Description=DNS Flare
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/root
ExecStart=/usr/bin/dnsflare

[Install]
WantedBy=multi-user.target
